.container__search_icon {
  position: relative;
  display: flex;
  align-items: center;

  background-color: whitesmoke;
  border-radius: 20px;

  svg {
    position: absolute;
    left: 0;
    height: 35px;
    width: 35px;

    cursor: pointer;
  }

  input {
    font-size: 1.2rem;
    border: none;

    width: 230px;
    height: 40px;
    margin: 0;
    padding: 3px 10px 3px 34px;
    background-color: whitesmoke;
    border-radius: 20px;

    transition: width 1s ease-out;
  }
}

// @media() {
// }
