.container__small-card {
  a {
    display: flex;
    flex-direction: row;

    height: 100%;
    border: 2px solid black;

    &:hover {
      transform: scale(1.009);
    }

    .img {
      width: 40%;
      height: 100%;

      background-image: url("https://th.bing.com/th/id/R.0d2b0cc4d696a5430124812d6ff9b5cb?rik=%2fqHQ602FLEd1fg&pid=ImgRaw&r=0"),
        url("https://img.gmz88.com/uploadimg/image/20190312/15523753395c875e2bbe3912.82419737.jpeg");
      background-position: center;
      background-size: cover;
    }

    .news-info {
      display: grid;
      grid-template-columns: 4;
      column-gap: 10px;

      .category {
        grid-column-start: 1;
        grid-column-end: 3;

        background-color: violet;
        padding-right: 60px;
        padding-left: 5px;
        font-size: 1.2rem;
      }
      .date {
        font-size: 1.2rem;
      }
      .category,
      .date {
        display: flex;
        align-items: center;
      }

      .title {
        display: flex;
        align-items: end;

        grid-column-start: 1;
        grid-column-end: 5;

        font-size: 2rem;
        padding-left: 5px;
      }
    }
  }
}
// {
//   id: 2,
//   title: 'Melodie está prestes a entrar no brawl stars',
//   text: '',
//   images: [
//     {
//       id: 1,
//       url: '',
//     },
//   ],
//   author: 'Arthur Rolemberg',
//   date: '01/01/2001',
//   category: 'Game',
//   cover: {
//     id: 2,
//     url: 'url("https://th.bing.com/th/id/OIP.Viuh4n5hw2DuGGD86A3FiQHaEK?rs=1&pid=ImgDetMain"), url("https://img.gmz88.com/uploadimg/image/20190312/15523753395c875e2bbe3912.82419737.jpeg")',
//   },
// },
// {
//   id: 3,
//   title: '',
//   text: '',
//   images: [
//     {
//       id: 1,
//       url: '',
//     },
//   ],
//   author: 'Arthur Rolemberg',
//   date: '01/01/2001',
//   category: 'Anime',
//   cover: {
//     id: 2,
//     url: 'url("https://th.bing.com/th/id/OIP.MosDj_xqbSIvOYXhy7Ww4AHaIQ?rs=1&pid=ImgDetMain"), url("https://img.gmz88.com/uploadimg/image/20190312/15523753395c875e2bbe3912.82419737.jpeg")',
//   },
// },
