@use "normalize";
@use "header/header";
@use "main/main";
@use "footer/footer";

hr {
  background-color: black;

  border: none;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 500px) {
  html {
    font-size: smaller;
  }
}
